<p>app/views/home/index.html.erb</p>
<%= link_to 'Articles', articles_path%>

<% if user_signed_in? %>
  <%= button_to("Sign Out", destroy_user_session_path, method: :delete) %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
