development:
  adapter: postgresql
  host: localhost
  username: constantine
  password: milkshake
  database: simple_cancancan_authorization_development
  pool: 5

production:
  adapter: postgresql
  host: localhost
  username: constantine
  password: milkshake
  database: simple_cancancan_authorization_production
  pool: 5

test:
  adapter: postgresql
  host: localhost
  username: constantine
  password: milkshake
  database: simple_cancancan_authorization_production
  pool: 5
